
*{
    font-family: Poppins;
    font-feature-settings: 'clig' off, 'liga' off;
}
.header{
    
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 100px;

}
.header ul{
    display: flex;
   
}
.header_ber ul li{
    list-style: none;
    margin-right: 34px;
    font-weight: 600px;
    width: 62px;
    height: 34.8px;
    font-size: 16px;
    color: #3A3A3A;
    font-family: Poppins;
    font-weight: bold;


   
}
.heder_title{
    width: 243px;
    height: 52.2px;
    color: #3A3A3A;
    font-family: Poppins;
    font-weight: 700;

}
.text{
    margin-top: 100px;
}
.booking{
    display: flex;
    justify-content: space-around;
    margin-right: 100px;
    margin-bottom: 100px;
    
}
.booking_dis{
    color: #3A3A3A;
    font-size: 52px;
    font-weight: 700;
    line-height: 70px; 
    width: 582px;
    margin-bottom: 10px;

}
.booking_text{

    color: #3A3A3A;
    font-size: 16px;
    width: 505px;
    height: 60.9px;
    margin-top: 0px;
}
.booking_buttun{
    
    background-color: #E02C6D;
    border: 1px solid saddlebrown;
    border-radius: 20px;
    width: 120px;
    display: inline-flex;
    padding: 10px 24px;
    align-items: flex-start;
    margin-top: 10px;
    
    

}
.cam{

    width: 440px;
    height: 414px;
   background-image:url('../images/Circle_design.svg');
   margin-top: 50px;
   
}
.sponsor{
    display: flex;
    border: 1px solid aquamarine;
    justify-content: space-around;
    width: 70%;
    border-radius: 20px;
    margin-left: 200px;
    margin-right: 180px;
   margin-bottom: 100px;
}
.titleber{
    text-align: center;
    color: #3A3A3A;
    font-size: 28px;
    font-weight: 600;
}
.cart{
    
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    width: 300px;
    height: 400px;
    border-radius: 5px;
    gap: 5px;
    padding:20px 20px 20px 20px;
    margin-bottom: 20px;
    
   
}
.collection{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
   margin-left: 180px;
   margin-right: 150px;
   margin-bottom: 30px;
}
.tk{
    font-family: Inter;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87);
}
.pddis{
    color: #787885;
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.252px;
}
.more{
    text-align: end;
    margin-right: 220px;
    color: rgba(224, 44, 109, 0.87);
    font-size: 16px;
    font-weight: 700;

}

